In [1]:
person = {
    "first":"tugbay",
    "last":"atilla",
    "email":"tugbayatilla@gmail.com"
}

In [2]:
people = {
    "first":["tugbay"],
    "last":["atilla"],
    "email":["tugbayatilla@gmail.com"]
}

In [3]:
people = {
    "first":["tugbay", "kathi", "leni"],
    "last":["atilla", "essmann", "essmann"],
    "email":["tugbayatilla@gmail.com", "katharina.essmann@web.de", "leni.essmann@gmail.com"]
}

In [4]:
people['email']

['tugbayatilla@gmail.com',
 'katharina.essmann@web.de',
 'leni.essmann@gmail.com']

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

    first     last                     email
0  tugbay   atilla    tugbayatilla@gmail.com
1   kathi  essmann  katharina.essmann@web.de
2    leni  essmann    leni.essmann@gmail.com

In [9]:
df['email']

0      tugbayatilla@gmail.com
1    katharina.essmann@web.de
2      leni.essmann@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

> Series: Rows of single column
> Dataframe : container of multiple of series

In [13]:
# this is another notation to call df['email'] yet it's not a good idea :)
df.email

0      tugbayatilla@gmail.com
1    katharina.essmann@web.de
2      leni.essmann@gmail.com
Name: email, dtype: object

In [15]:
# giving a list to dataframe -> ['last','email']
df[['last','email']]

      last                     email
0   atilla    tugbayatilla@gmail.com
1  essmann  katharina.essmann@web.de
2  essmann    leni.essmann@gmail.com

In [17]:
type(df['email']), type(df[['last','email']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [18]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
# to get the rows use iloc means „integer location“

# first row
df.iloc[0]

first                    tugbay
last                     atilla
email    tugbayatilla@gmail.com
Name: 0, dtype: object

In [21]:
# first and second row
df.iloc[[0,1]]

    first     last                     email
0  tugbay   atilla    tugbayatilla@gmail.com
1   kathi  essmann  katharina.essmann@web.de

In [22]:
# get the 2. column only (email)
df.iloc[[0,1], [2]]

                      email
0    tugbayatilla@gmail.com
1  katharina.essmann@web.de

In [23]:
# loc -> searching by labels
# it's important when you use indexes

df.loc[0] # because 0 is the index of the first row so the label as well

first                    tugbay
last                     atilla
email    tugbayatilla@gmail.com
Name: 0, dtype: object

In [24]:
# multiple rows
df.loc[[0,1]]

    first     last                     email
0  tugbay   atilla    tugbayatilla@gmail.com
1   kathi  essmann  katharina.essmann@web.de

In [26]:
df.loc[[0,1], 'email'] # because we are using labels

0      tugbayatilla@gmail.com
1    katharina.essmann@web.de
Name: email, dtype: object

In [27]:
df.loc[[0,1], ['email','last']]

                      email     last
0    tugbayatilla@gmail.com   atilla
1  katharina.essmann@web.de  essmann