Build Custom Indexes -  Snippet

https://www.youtube.com/watch?v=W9XjRYFkkyw

In [1]:
people = {
    "first":["tugbay", "kathi", "leni"],
    "last":["atilla", "essmann", "essmann"],
    "email":["tugbayatilla@gmail.com", "katharina@essmann.de", "leni@essmann.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first     last                   email
0  tugbay   atilla  tugbayatilla@gmail.com
1   kathi  essmann    katharina@essmann.de
2    leni  essmann        leni@essmann.com

In [5]:
df['email']

0    tugbayatilla@gmail.com
1      katharina@essmann.de
2          leni@essmann.com
Name: email, dtype: object

In [6]:
# setting index, df is not changed because we did not say inplace true
df.set_index('email')

                         first     last
email
tugbayatilla@gmail.com  tugbay   atilla
katharina@essmann.de     kathi  essmann
leni@essmann.com          leni  essmann

In [7]:
# df is not changed
df

    first     last                   email
0  tugbay   atilla  tugbayatilla@gmail.com
1   kathi  essmann    katharina@essmann.de
2    leni  essmann        leni@essmann.com

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                         first     last
email
tugbayatilla@gmail.com  tugbay   atilla
katharina@essmann.de     kathi  essmann
leni@essmann.com          leni  essmann

In [10]:
df.index

Index(['tugbayatilla@gmail.com', 'katharina@essmann.de', 'leni@essmann.com'], dtype='object', name='email')

In [11]:
# why this is usdf.eful
# finding specific row by index :)

df.loc['tugbayatilla@gmail.com']

first    tugbay
last     atilla
Name: tugbayatilla@gmail.com, dtype: object

In [12]:
df.loc['tugbayatilla@gmail.com', 'last']

'atilla'

In [14]:
# if you wanna use interger indexes again, iloc is your friend
df.iloc[0]

first    tugbay
last     atilla
Name: tugbayatilla@gmail.com, dtype: object

In [15]:
# if you think you messes up
df.reset_index(inplace=True)

In [16]:
df

                    email   first     last
0  tugbayatilla@gmail.com  tugbay   atilla
1    katharina@essmann.de   kathi  essmann
2        leni@essmann.com    leni  essmann