Filters

https://www.youtube.com/watch?v=Lw2rlcxScZY

In [1]:
people = {
    "first":["tugbay", "kathi", "leni"],
    "last":["atilla", "essmann", "essmann"],
    "email":["tugbayatilla@gmail.com", "katharina@essmann.de", "leni@essmann.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first     last                   email
0  tugbay   atilla  tugbayatilla@gmail.com
1   kathi  essmann    katharina@essmann.de
2    leni  essmann        leni@essmann.com

In [5]:
df['last'] == 'essmann'
# return Series only, it's a Filter Mask

0    False
1     True
2     True
Name: last, dtype: bool

In [7]:
# we cannot use filter because it's reserved keyword in python :)
# putting paranteses to support to reading easily
filt = (df['last'] == 'essmann')

In [8]:
df[filt]

   first     last                 email
1  kathi  essmann  katharina@essmann.de
2   leni  essmann      leni@essmann.com

In [9]:
# or
df[df['last'] == 'essmann']

   first     last                 email
1  kathi  essmann  katharina@essmann.de
2   leni  essmann      leni@essmann.com

In [11]:
#or, we were using loc to locate data but now we are filtering as well.
df.loc[filt]

   first     last                 email
1  kathi  essmann  katharina@essmann.de
2   leni  essmann      leni@essmann.com

In [13]:
# filter and get only email
df.loc[filt, 'email']

1    katharina@essmann.de
2        leni@essmann.com
Name: email, dtype: object

In [16]:
# and & , or | using in filters

filtWithAnd = (df['last'] == 'essmann') & (df['first'] == 'leni')

In [17]:
df.loc[filtWithAnd, 'email']

2    leni@essmann.com
Name: email, dtype: object

In [18]:
filtWithOr = (df['last'] == 'essmann') | (df['first'] == 'leni')

In [19]:
df.loc[filtWithOr, 'email']

1    katharina@essmann.de
2        leni@essmann.com
Name: email, dtype: object

In [20]:
# filter opposition - did not match with Tilda sign ~
df.loc[~filtWithOr, 'email']

0    tugbayatilla@gmail.com
Name: email, dtype: object